{% extends 'markup/base.html' %}

{% block content %}
<div class="home" align="center">
  <h1 align="center">Добро пожаловать на сервис разметки территорий на карте</h1>
    <p>Для получения разметки (отрисовки) на карте (openstreetmap) территории по кадастровому номеру участка, перейдите на вкладку "Добавить разметку"</p>
  <p> P.S.: в rosreestr2coord далеко не все данные занесены, из-за чего на данный момент 100 % работает только '24:39:0101001:369' (т.к. тестировал работу с ним)</p>
  <p>Сделал регистрацию пользователей с авторизацией (если зарегистрироваться и авторизоваться, в меню появится дополнительная вкладка "История разметок", но функционал не успел доделать)</p>
</div>
{% endblock %}